html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #111;
}

#stage {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    place-items: center; /* zentriert nur wenn Bild kleiner */
}

#image {
    display: block;
}

#buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background: rgba(0,0,0,0.5);
    color: white;
    padding: 6px;

    display: grid;
    gap: 6px;

    opacity: 1;
    transition: opacity 0.3s ease;

    /* backdrop-filter: blur(6px);
    border-top: 1px solid rgba(255,255,255,0.1); */
}

.top-info {
    text-align: center;
    /*font-size: 14px;*/
    /*opacity: 0.85;*/
}

.center-info {
    text-align: center;
    white-space: nowrap;
}

.controls {
    display: grid;
    grid-template-columns:
        auto auto auto
        1fr
        auto auto auto;

    align-items: center;
    gap: 6px;
}

#buttons.hidden {
    opacity: 0;
    pointer-events: none; /* keine Klicks, wenn unsichtbar */
}


#buttons button {
    background: rgba(255,255,255,0.2);
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#buttons button:hover {
    background: rgba(255,255,255,0.5);
}
