html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* kein Scrollen */
    background-color: #111; /* neutral, dunkel */
}

#canvas {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

#canvas img {
    width: naturalWidth;
    height: naturalHeight;
    /* transform wird per JS gesetzt */
    transition: transform 0.2s ease; /* sanftes Zoomen */
}

#buttons {
     position: absolute;
     top: 10px;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     gap: 5px;
     background-color: rgba(0, 0, 0, 0.5);
     padding: 5px 10px;
     border-radius: 8px;
     z-index: 10;
     color: #fff;

     /* neu: sanftes ein-/ausblenden */
     opacity: 1;
     transition: opacity 0.3s ease;
     pointer-events: auto; /* bleibt klickbar */
 }

 /* Zustand „unsichtbar“ */
 #buttons.hidden {
     opacity: 0;
     pointer-events: none; /* keine Klicks, wenn unsichtbar */
 }


#buttons button {
    background: rgba(255,255,255,0.2);
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#buttons button:hover {
    background: rgba(255,255,255,0.5);
}

#buttons span {
    display: inline-block;
    width: 120px;
    text-align: center;
}